* {
    background-color: black;
    background-image: url("images/myBackground.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    text-align: center;
}

#pebble {
    border: 4px;
    border-color: white;
}
