body {
    background-color: #202225;
    height: 100%;
    font-family: Arial;
    border-width: 0px;
}

button {
    cursor: pointer;
    box-shadow: 2px 5px 0px 0px rgb(0,0,0);
}

button:hover {
    background-color:#949494;
    transition: 0.2s;
}

button:active {
    box-shadow: 0px 0px 0px 0px rgb(0,0,0);
    transition: 0.2s;
}

.sidebar {
    width: 5%;
    height: 100%;
    float: left;
}

.wrapper {
    width: 100%;
}

.login-wrapper {
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

.register-wrapper {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    display: none;
}

.channel-list {
    background-color: #2f3135;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    float: left;
}

.server-name {
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 5px;
    height: 25%;
}

.channels {
    height: 65%;
}

.channel {
    border-radius: 5px;
    background-color: #2f3135;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5.1px;
    color: #8d9297;
    text-decoration: none;
    float: left;
}

.channel-button {
    width: auto;
    vertical-align: middle;
    color: #8d9297;
    text-decoration: none;
    float: left;
}

.category-button {
    width: auto;
    font-size: 15px;
    vertical-align: middle;
    color: #8d9297;
    text-decoration: none;
    float: left;
}

.category {
    border-radius: 5px;
    background-color: #2f3135;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5.1px;
    color: #8d9297;
    text-decoration: none;
    float: left;
}

.channel:hover {
    background-color: #42464d;
}

.category:hover {
    background-color: #42464d;
}

a {
    margin-left: 5px;
}

.member-list {
    background-color: #2f3135;
    width: 20%;
    height: 100%;
    float: right;
    border-radius: 10px;
}

.member {
    background-color: #2f3135;
    color: white;
    padding: 1%;
    text-align: center;
}

.member-channel {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 25px;
    color: white;
}

.message-box {
    width: 54%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    height: 100%;
    background-color: #35393f;
    float: left;
}

.profile {
    height: 10%;
    width: 100%;
    background-color: #292b2f;
    border-radius: 10px;
}

.message-channel {
    border-radius: 10px;
    height: 7.5%;
    width: 100%;
    background-color: #2f3135;
}

.message-area {
    height: 85%;
    width: 100%;
    overflow: auto;
}

.text-area {
    height: 7.5%;
    width: 100%;
    background-color: #2f3135;
}

.box-message {
    background-color: #292b2f;
    border-radius: 30px;
    height: 60%;
    width: 90%;
    margin-left: 2.5%;
    margin-top: 0.5%;
    padding-left: 2%;
    border-width: 0px;
    color: white;
}

.send-message {
    color: white;
    background-color: #5864f1;
    border-radius: 10px;
    margin-left: 0.5%;
    width: 4.5%;
    height: 65%;
}

.message {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.username {
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
    color: #00ffff;
    display: inline-block;
}

.message-text {
    width: 100%;
    word-wrap: break-word;
    height: auto;
    color: white;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 2.5px;
}

.user-changer {
    padding-left: 5%;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    color: white;
}

.login-content {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}

.login-container {
    width: 100%;
    height: 100%;
    background-color: #35393f;
}

.login-input {
    margin-left: 5px;
    float: left;
    border-radius: 10px;
    width: 80%;
    height: 8%;
    color: white;
}

.register-input {
    margin-left: 5px;
    float: left;
    border-radius: 10px;
    width: 80%;
    height: 8%;
    color: white;
}

.login-text {
    color: white;
    font-size: 12px;
    margin-left: 7px;
}

.login-button {
    width: 80%;
    height: 10%;
    background-color: #5864f1;
    border-radius: 10px;
    color: white;
    margin-left: 5px;
}

.register-container {
    width: 100%;
    height: 100%;
    background-color: #35393f;
}

input {
    border-width: 0px;
    background-color: #292b2f;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.profile-button {
    background-color: #5864f1;
    border-radius: 10px;
    color: white;
    margin-left: 5px;
    height: 50%;
}

.profile-button:hover {
    background-color:#949494;
    transition: 0.2s;
}

.profile-img {
    max-width: 3%;
    height: 3%;
}

.sidebar-button {
    max-width: 70px;
    background-color: #5864f1;
    text-align: center;
    border-radius: 10px;
    display: inline;
    margin-bottom: 5px;
}

.sidebar-logo {
    max-width: 60px;
    align-self: center;
    left: 10%;
}

.game-area {
    width: 35%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    height: 100%;
    background-color: #35393f;
    float: right;
    display: none;
}

.messagechannelimg {
    max-height: 100%;
    text-align: center;
}
