body {
    background-color: black;
}

button {
    cursor: pointer;
    box-shadow: 2px 5px 0px 0px rgb(0,0,0);
}

button:hover {
    background-color:#949494;
    transition: 0.2s;
}

button:active {
    box-shadow: 0px 0px 0px 0px rgb(0,0,0);
    transition: 0.2s;
}

hr {
    color: black;
}

img {
    width: 90%;
    float: left;
}

.navButtons {
    height: 100%;
    width: 5%;
    background-color: #555353;
    float: left;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

.navButton {
    width: 100%;
    float: left;
    margin: auto;
    margin-top: 10%;
}

.gameTitle {
    color: white;
    text-align: center;
    font-size: large;
    height: 2%;
    padding-bottom: 1%;
}

.gameArea {
    height: 96%;
    width: 94%;
    margin: auto;
    float: right;
    background-color: #555353;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

.beforePlayImg {
    height: 50%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
