body {
    background-color: black;
    color: white;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    box-shadow: 2px 5px 0px 0px rgb(0,0,0);
}

button:hover {
    background-color:#949494;
    transition: 0.2s;
}

button:active {
    box-shadow: 0px 0px 0px 0px rgb(0,0,0);
    transition: 0.2s;
}

hr {
    color: black;
}

img {
    width: 90%;
    float: left;
}

.navButtons {
    height: 100%;
    width: 5%;
    background-color: #555353;
    float: left;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

.navButton {
    width: 100%;
    float: left;
    margin: auto;
    margin-top: 10%;
}

.gameTitle {
    color: white;
    text-align: center;
    font-size: large;
    height: 2%;
    padding-bottom: 1%;
}

.gameArea {
    height: 96%;
    width: 94%;
    margin: auto;
    float: right;
    background-color: #555353;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    display: none;
}

.beforePlayImg {
    height: 50%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.login-block {
    height: 96%;
    width: 94%;
    margin: auto;
    float: right;
    background-color: #555353;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    background-image: url("../../images/galaxy.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}

.register-block {
    height: 96%;
    width: 94%;
    margin: auto;
    float: right;
    background-color: #555353;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    display: none;
}

.confirm-email-block {
    height: 96%;
    width: 94%;
    margin: auto;
    float: right;
    background-color: #555353;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    display: none;
}

.login-textbox {
    margin: auto;
    margin-bottom: 2%;
    margin-top: 1%;
    width: 50%;
    color: white;
    background-color: #949494;
    height: 3%;
    border-radius: 10px;
    text-align: center;
}

.login-button {
    margin-bottom: 5px;
    
}

.prologue-box {
    text-align: center;
    margin: 10%;
    margin-top: 2%;
    max-height: 90%;
    border: 10px;
    border-color: red;
    border-style: double;
}

.prologue-text {
    overflow: auto;
    overflow-y: hidden;
    color: yellow;
    margin: auto;
    line-height: 500%;
    margin: 2%;
    
    /* animation properties */
    transform: translateY(100%);
    animation: my-animation 30s linear 1s;
}


@keyframes my-animation {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}

.continue-button {
    position: absolute;
    margin-top: 40%;
    margin-left: -3%;
    color: black;
    top: 0%;
    height: 5%;
}

.hint {
    position: absolute;
    margin-top: 40%;
    margin: auto;
    color: black;
    top: 85%;
    left: 43%;
    height: 5%;
}

.warning-text {
    color: red;
    animation-name: blink;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
    animation-iteration-count: 100;
}

@keyframes blink{
    0%{color:red;}
    50%{color:white;}
    100%{color:red;}
}
